{% extends "base.html" %}

{% block title %}{{ flow.title }}{% endblock %}

{% block content %}
<div class="mt-4">
    <a href="{{ url_for('learn') }}" class="btn custom-btn-outline">← Back</a>
</div>
<div class="hero-section text-center">
    <h1 class="main-title">{{ flow.title }}</h1>
    <p class="subtitle">{{ flow.description }}</p>
    <img src="{{ flow.image }}" alt="{{ flow.title }}" class="flow-img" style="max-height: 300px;">

    <div class="mt-3">
        <a href="{{ url_for('start_flow', flow_id=flow.id) }}" class="btn main-btn">Start Now</a>
    </div>
</div>

<style>
    :root {
        --base-color: #8BA888;
        --accent-color: #f87965;
        --background-color: #fffcf5;
        --light-grey: #F5F5F5;
        --dark-grey: #2C3E50;
        --medium-grey: #BDC3C7;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(to bottom, var(--background-color), var(--light-grey));
        color: var(--dark-grey);
        margin: 0;
        padding: 0;
    }
    
    .hero-section {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    
    .main-title {
        font-size: 3rem;
        font-weight: 600;
        color: var(--accent-color);
        margin-bottom: 1rem;
    }
    
    .subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--medium-grey);
        margin-bottom: 2rem;
    }

    .flow-img {
        border: 2px solid var(--accent-color);
        border-radius: 12px;
    }

    .main-btn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 8px;
    font-weight: 600;
}

.main-btn:hover {
    background-color: #e46b58;
    color: var(--medium-grey);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn-outline {
    background-color: transparent;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 7px 15px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
}

.custom-btn-outline:hover {
    background-color: var(--accent-color);
    color: white;
}
    
    </style>

{% endblock %}
